{{define "base"}}
<!doctype html>
<html lang='en'>
<head>
    <meta charset='utf-8'>
    <title>{{template "title" .}}</title>
    <link href="/frontend/base/style.css" rel="stylesheet" type="text/css">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700'>
</head>
<body>
<header>
    <div class="mainTitle">Websocket games</div>
</header>
<nav>
    <a href='/'>Lobby</a>
</nav>
<main>
    {{template "main" .}}
</main>
</body>
</html>
{{end}}