{{template "base" .}}

{{define "title"}}Noughts and Crosses{{end}}

{{define "main"}}
<script type="text/javascript" src="/frontend/noughtsAndCrosses/execute.js"></script>
<link href="/frontend/noughtsAndCrosses/style.css" rel="stylesheet" type="text/css">
<div class="title">Noughts and Crosses</div>
<div class="wrapper">
    <div class="box 00"></div>
    <div class="box 01"></div>
    <div class="box 02"></div>
    <div class="box 10"></div>
    <div class="box 11"></div>
    <div class="box 12"></div>
    <div class="box 20"></div>
    <div class="box 21"></div>
    <div class="box 22"></div>
</div>
{{end}}
