.wrapper {
    display: grid;
    grid-template-rows: 10vh 10vh 10vh;
    grid-template-columns: 10vh 10vh 10vh;
    grid-gap: 1vh;
    background-color: beige;
    color: #444;
    justify-content: center;
    margin-top: 3vh
}

.box {
    font-family: "Ubuntu Mono", sans-serif;
    font-size: xxx-large;
    background-color: gray;
    color: #5e3c3c;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}